.cardItem {
  width: 60vw;
  height: 22vh;
  transition: 0.3s ease all;
  box-shadow: 0 6px 1rem rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: rgba(135, 53, 138, 0.74);
    box-shadow: none;
  }
  .left {
    width: 10rem;
    height: 10rem;
    img {
      width: 70%;
      height: 70%;
    }
  }
  .right {
    width: 40%;
    height: 100%;
  }
}
